@import url(https://db.onlinewebfonts.com/c/22db60d19480ba0274c9eb6ba877ea9b?family=Aharoni+Bold+V1);
@import "tailwindcss";


:root {
  --background: #eedeeb;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
      /* CSG Racing Color Palette */
    --color-csg-burgundy: #3C0403;
    --color-csg-light-gray: #7D7C7C;
    --color-csg-dark-gray:#434343;
    --color-csg-red: #D00000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logos-slide {
  animation: 12s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }

  to{
    transform: translateX(-100%);
  }
}

.link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0px 3px;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        transition:  .3s ease-in-out;
    }

    .link-underline-csg-red {
        background-image: linear-gradient(transparent, transparent), linear-gradient(var(--color-csg-red),var(--color-csg-red))
    }
    .link-underline-blue-600 {
        background-image: linear-gradient(transparent, transparent), linear-gradient(var(--color-blue-600),var(--color-blue-600))
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 50% 100%
    }

.font-aharoni{
  font-family: "Aharoni Bold V1";
}
