@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
      /* CSG Racing Color Palette */
    --color-csg-burgundy: #3C0403;
    --color-csg-black: #000000;
    --color-csg-light-gray: #7D7C7C;
    --color-csg-dark-gray:#434343;
    --color-csg-red: #D00000;
    --color-csg-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
